html, body{
    margin: 0;
}

.title{
    text-align: center;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

.post {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-image {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}