html, body{
    margin: 0;
}

form button {
    margin-left: 1em;
}

footer {
    width: 100%;
    background-color: #3e4551;
    color: white;
}

h6 strong {
    color: #ff3547;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer-link {
    color: white;
}

.jumbotron{
    background: url(https://source.unsplash.com/1600x1050/?football);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white !important;
    height:320px;
    border-radius: 0 !important;
}