html, body{
    margin: 0;
}

form button {
    margin-right: 1em;
}

footer {
    width: 100%;
    background-color: #3e4551;
    color: white;
}

header nav.navbar a.btn {
  margin-left: 1em;
}

h6 strong {
    color: #ff3547;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer-link {
    color: white;
}

.btn i {
  margin: 0.1em;
}

.jumbotron {
    background: linear-gradient(to right,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.1)
    ),url(https://source.unsplash.com/collection/2037084);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white !important;
    text-shadow: 3px 3px 3px black;
    height:450px;
    border-radius: 0 !important;
}

.score input{
    width: 80px;
}