{% extends 'base.html.twig' %}

{% block title %} Classement {% endblock %}

{% block body %}

    <table class="table">

        <!--Table head-->
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Score</th>
        </tr>
        </thead>
        <!--Table head-->

        <tbody>
        {% for index,user in rank %}
        <tr>
            <th scope="row">{{ index+1 }}</th>
            <td>{{ user.getFullName() }}</td>
            <td>{{ user.getScore() }}</td>
        </tr>
        {% endfor %}
        </tbody>


    </table>

{%  endblock %}