<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <!-- First column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Chips-biere.fr</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>L'application web de paris qu'elle est bien à utiliser.</p>
            </div>
            <!-- Second column -->
            <div class="col-md-3 col-lg-2 col-xl-2   mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Liens utiles</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="footer-link" href="http://www.terredeboissons.com/">www.terredeboissons.com</a>
                </p>
                <p>
                    <a class="footer-link" href="https://www.pringles.com/ch/fr/home.html">www.pringles.com</a>
                </p>
                <p>
                    <a class="footer-link" href="https://www.cochonou.fr/">www.cochonou.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        Doyer Nicoloas, Grégory Barrois, Hugo Doyer, Jésus Christ <span class="copyleft">©</span> 2018 Copyleft
    </div>
</footer>