<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Classement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Matchs</a>
                </li>
            </ul>
            <form class="form-inline">
                <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{{ path('security_login') }}" >Sign in</a>
                <a class="btn btn-outline-info my-2 my-sm-0" type="submit" href="{{ path('register') }}" >Sign up</a>
            </form>
        </div>
    </nav>
    <div id="header" class="jumbotron">
        <div class="container">
            <h1 class="display-2">Chips-Bière</h1>
            <p class="lead">Des chips, de la bière et des paris en ligne sur les matchs de la coupe du monde</p>
        </div>
    </div>
</header>

